
cmake-build-debug/.cmake/api/v1/query/cache-v2
cmake-build-debug/.cmake/api/v1/reply/target-projectcpp-Debug-cea8b98559341f41c4cb.json
cmake-build-debug/.cmake/api/v1/reply/toolchains-v1-e51cbfaa56c0264d150d.json
cmake-build-debug/cmake_install.cmake
cmake-build-debug/CMakeCache.txt
cmake-build-debug/CMakeFiles/3.27.8/CMakeCCompiler.cmake
cmake-build-debug/CMakeFiles/3.27.8/CMakeCXXCompiler.cmake
cmake-build-debug/CMakeFiles/3.27.8/CMakeDetermineCompilerABI_C.bin
cmake-build-debug/CMakeFiles/3.27.8/CMakeDetermineCompilerABI_CXX.bin
cmake-build-debug/CMakeFiles/3.27.8/CMakeRCCompiler.cmake
cmake-build-debug/CMakeFiles/3.27.8/CMakeSystem.cmake
cmake-build-debug/
.idea/
Models.rar
